blockquote, body, button, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, img, legend, li, ol, p, pre, td, th, ul {
	margin:0;
	padding:0;
	border:0;
	vertical-align:baseline;
}
address, blockquote, dl, fieldset, form, h1, h2, h3, h4, h5, h6, ol, p, table, ul {
	margin:15px 0;
}
body {
	background:url("../design/bg.png") 0 0 repeat-x;
	font:0.8em/1.6 "arial", sans-serif;
}
a {
	text-decoration:none;
}
h1 {
	font-size:300%;
	line-height:1;
}
h2 {
	font-size:200%;
}
h3 {
	font-size:160%;
}
h4, h5, h6 {
	font-size:120%;
}
form ul {
	list-style:none;
}
form li {
	display:block;
	padding-bottom:7px;
}
form li label {
	display:block;
	padding-bottom:3px;
}
input, select, textarea {
	font-size:100%;
	font-family:"arial", sans-serif;
}
table.table {
	border-collapse:collapse;
	border-spacing:0;
}
table.table th, table.table td {
	padding:7px 10px;
}
table.table th {
	font-weight:bold;
}
ul.ul {
	margin-left:20px;
	list-style:none;
}
ul.ul li {
	padding-left:15px;
	background:url("../design/ul.gif") 0 5px no-repeat;
}
ul.ul ul {
	margin:0 0 0 20px;
	list-style:none;
}
img.f-left {
	margin-right:15px;
}
img.f-right {
	margin-left:15px;
}
#main {
	width:960px;
	margin:0 auto;
}
/*#header {*/
/*	position:relative;*/
/*	height:150px;*/
/*	overflow:hidden;*/
/*}*/
/*#header a {*/
/*	border:0;*/
/*}*/
/*#header #logo {*/
/*	position:absolute;*/
/*	top:45px;*/
/*	left:0;*/
/*	margin:0;*/
/*}*/
/*#header #nav {*/
/*	position:absolute;*/
/*	top:58px;*/
/*	right:100px;*/
/*	margin:0;*/
/*	list-style-type:none;*/
/*}*/
/*#header #nav li {*/
/*	display:inline;*/
/*	margin:0;*/
/*	padding:0;*/
/*}*/
/*#header #nav a {*/
/*	float:left;*/
/*	margin-left:7px;*/
/*	padding-left:17px;*/
/*	background:url("../design/nav-l.png") 0 -35px no-repeat;*/
/*	text-decoration:none;*/
/*}*/
/*#header #nav a span {*/
/*	float:left;*/
/*	display:block;*/
/*	padding-right:17px;*/
/*	background:url("../design/nav-r.png") 100% -35px no-repeat;*/
/*	line-height:35px;*/
/*}*/
/*#header #nav a:hover {*/
/*	background-position:0 -70px;*/
/*}*/
/*#header #nav a:hover span {*/
/*	background-position:100% -70px;*/
/*}*/
/*#header #nav .current a {*/
/*	background-position:0 0;*/
/*	!*font-weight:bold;*!*/
/*}*/
/*#header #nav .current a span {*/
/*	background-position:100% 0;*/
/*}*/
/*#header #nav-icons {*/
/*	position:absolute;*/
/*	top:58px;*/
/*	right:0;*/
/*	margin:0;*/
/*}*/
/*#header #nav-icons a {*/
/*	margin-left:7px;*/
/*}*/
#title {
	margin:0;
	padding:25px 25px 45px 25px;
	background:url("../design/section.png") 0 100% no-repeat;
}
#section {
	overflow:hidden;
	margin:0 0 30px 0;
	padding:5px 25px 0 25px;
	background:url("../design/hp-section.png") 575px 0 repeat-y;
}
#content {
	float:left;
	width:525px;
	overflow:hidden;
	text-align:justify;
}
#aside {
	float:right;
	width:330px;
	overflow:hidden;
}
#contact {
	padding:15px 0;
}
#contact address {
	margin:0;
	font-style:normal;
}
#contact address span {
	margin:0 3px;
}
#footer {
	padding:15px 0 30px 0;
}
#footer p {
	margin:0;
}
#hp #section {
	margin:30px 0;
	padding:0;
	background:url("../design/hp-section.png") 600px 0 repeat-y;
}
#hp #content {
	float:left;
	width:570px;
	overflow:hidden;
}
#hp #aside {
	float:right;
	width:330px;
	overflow:hidden;
}
#welcome {
	position:relative;
	height:380px;
	overflow:hidden;
	background:url("../design/welcome.png") 0 0 no-repeat;
}
#welcome #imac {
	position:absolute;
	top:30px;
	right:0;
	width:398px;
	height:330px;
	overflow:hidden;
	background:url("../design/imac.png") 0 0 no-repeat;
}
#welcome #imac #slider {
	position:relative;
	top:13px;
	left:14px;
	width:371px;
	height:211px;
	overflow:hidden;
	margin:0;
}
#welcome #welcome-inner {
	position:absolute;
	top:0;
	left:0;
	width:515px;
	padding:45px 0 0 0;
}
#welcome #welcome-inner h2 {
	margin:0;
	font-size:260%;
	line-height:1.1;
	letter-spacing:-1px;
}
#welcome #twitter {
	position:absolute;
	top:255px;
	left:0;
	width:515px;
	background:url("../design/twitter.png") 0 50% no-repeat;
	font-size:85%;
}
#welcome #twitter ul {
	margin:50px 0 0 75px;
	list-style:none;
}
.products {
	margin:15px 0;
	list-style:none;
}
.products li {
	padding:15px 0;
}
.products li.last {
	border:0;
}
.products .products-img {
	float:left;
	width:160px;
	height:120px;
}
.products .products-img img {
	width:160px;
	height:120px;
}
.products .products-desc {
	float:right;
	width:390px;
}
.products .products-desc h3 {
	margin:0 0 10px 0;
	font-size:140%;
}
.products .products-desc p {
	margin:0;
}
.articles {
	margin:15px 0;
	list-style:none;
}
.articles li {
	padding:15px 0 15px 50px;
	background:url("../design/articles.png") 0 10px no-repeat;
}
.articles li.last {
	border:0;
}
.articles li h3 {
	margin:0;
	font-size:110%;
}
.articles li p {
	margin:0;
}
.gallery li {
	display:block;
	float:left;
	margin-right:10px;
	width:168px;
}
.gallery li.last {
	margin:0;
}
.sponsors {
	margin:0;
	list-style:none;
	font-size:85%;
}
.sponsors li {
	padding:10px 0;
}
.sponsors li a {
	font-size:115%;
}
.box {
	min-height:1px;
	_height:1%;
}
.box:after {
	display:block;
	visibility:hidden;
	clear:both;
	line-height:0;
	font-size:0;
	content:".";
}
.fix {
	float:none;
	clear:both;
	width:0;
	height:0;
	margin:0;
	padding:0;
	border:0;
	line-height:0;
	font-size:0;
}
.f-left {
	float:left !important;
}
.f-right {
	float:right !important;
}
.t-left {
	text-align:left !important;
}
.t-center {
	text-align:center !important;
}
.t-right {
	text-align:right !important;
}
.t-justify {
	text-align:justify !important;
}
.va-top {
	vertical-align:top !important;
}
.va-middle {
	vertical-align:middle !important;
}
.va-bottom {
	vertical-align:bottom !important;
}
.nom {
	margin:0 !important;
}
.nomt {
	margin-top:0 !important;
}
.nomb {
	margin-bottom:0 !important;
}
.hidden {
	position:absolute;
	left:-1000em;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}
.noscreen {
	display:none;
}
.smaller {
	font-size:85%;
}
.input-text {
	padding:5px;
}
.input-submit {
	padding:3px;
}
